body{
    text-align: center;
    background: linear-gradient(#000F30 0%, #072449 28.13%, #8496CD 100%);
    width: 637px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-style: normal;
}
div{
    color: #E5E5E5;
    display: block;
    padding-bottom: 2em;
}
img{
    width: 100%;
    height: 349px;

}
.textCt{
    text-align:left;
    
}

figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#head{
    font-size: 48px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Inter', 'Bai Jamjuree', sans-serif;
}
#sub{
    font-size: 26.6px;
    margin-top: 0px;
    font-family: 'Inter', 'Bai Jamjuree', sans-serif;
}
.cap{
    font-size: 14px;
    padding-top: 5px;
    font-family: 'Inter', 'Bai Jamjuree', sans-serif;
}
.topic{
    font-size: 32px;
    font-family: 'Inter', 'Bai Jamjuree', sans-serif;
    font-style: Thin;
}



