body{
    text-align: center;
    background: linear-gradient(#000F30 0%, #072449 28.13%, #8496CD 100%);
    /* padding-left: 400px;
    padding-right: 400px; */
    width: 637px;
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'baiJamjuri', sans-serif; */
}
/* .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
div{
    color: #E5E5E5;
    display: block;
    padding-bottom: 2em;
}
h1{
    color: white;
}
img{
    width: 100%;
    height: 349px;

}
.textCt{
    text-align:left;
    
}

figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* @font-face {
    font-family: baiJamjuri;
    src: url(webfontkit-20220701-100806/);
} */

#head{
    font-size: 48px;
    margin-bottom: 0px;
}
#sub{
    font-size: 26.6px;
    margin-top: 0px;
}
.cap{
    font-size: 14px;
    padding-top: 5px;
}
